<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400&family=Bokor&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./vars.css">
  <link rel="stylesheet" href="./style.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="desktop-1">
    <img class="rectangle-6" src="rectangle-60.svg" />
    <img class="rectangle-2" src="rectangle-20.svg" />
    <div class="username">Username:</div>
    <input type="email" id="username" class="rectangle-1" placeholder="Enter email"> 

    <div class="rectangle-1"></div>
    <div class="desi-discipline">Desi Discipline</div>
    <div class="password">Password:</div>
    <input type="password" id="password" class="rectangle-3" placeholder="Enter password">
    <div class="rectangle-3"></div>
    <div class="rectangle-4"></div>
    <div class="rectangle-5"></div>
    <button id="loginBtn" class="login">Login</button>
    <img class="img-9478-1" src="img-9478-10.png" />
    <div class="new-here-sign-up-before-i-call-your-mummy">
    <span>
      <span class="new-here-sign-up-before-i-call-your-mummy-span">
        New Here?
      </span>
      <span class="new-here-sign-up-before-i-call-your-mummy-span2">
        <a href="signuppath/index.html" style="color: inherit; text-decoration: underline;">Sign Up</a>
        <br />
      </span>
      
      <span class="new-here-sign-up-before-i-call-your-mummy-span3">
        (before I call your mummy)
      </span>
    </span>
  </div>
  </div>
  <script src="script.js"></script>

  
</body>
</html>