<div class="dashboard">
  <div class="welcome-rocky">Welcome Rocky!</div>
  <div class="frame-3"></div>
  <div class="rectangle-7"></div>
  <div class="desi-discipline">Desi Discipline</div>
  <img class="icon-1" src="icon-10.png" />
  <img class="image-1" src="image-10.png" />
  <img class="rectangle-6" src="rectangle-60.svg" />
  <img class="rectangle-2" src="rectangle-20.svg" />
  <div class="weekly-insight">Weekly Insight</div>
  <img
    class="pngtree-fire-icon-symbol-simple-design-blaze-transparent-flaming-vector-png-image-46963576-removebg-preview-1"
    src="pngtree-fire-icon-symbol-simple-design-blaze-transparent-flaming-vector-png-image-46963576-removebg-preview-10.png"
  />
  <div class="_69-day-streak">69 Day Streak!</div>
  <div class="each-day-you-study-one-aunty-becomes-less-nosey">
    Each day you study, one aunty becomes less nosey!
  </div>
  <div class="line-3"></div>
  <div class="rectangle-8"></div>
  <div class="rectangle-9"></div>
  <div class="rectangle-10"></div>
  <div class="rectangle-11"></div>
  <div class="rectangle-12"></div>
  <div class="rectangle-13"></div>
  <div class="rectangle-14"></div>
  <div class="line-4"></div>
  <img class="polygon-1" src="polygon-10.svg" />
  <img class="polygon-2" src="polygon-20.svg" />
  <div class="rectangle-16"></div>
</div>
